.none{
    display: none;
}
html{
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white
}


body{
    background-image: url('https://images.alphacoders.com/998/thumb-1920-998181.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   /*  backdrop-filter: blur(3px); */
    font-family: 'Courier New', Courier, monospace;
   
}
*,
*::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}
header{
    width: 90%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}
.buscar{
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    margin-right: 3rem;
}
.Agregar{
    font-size: 1rem;  
    padding: 20px;
    width: 15%;
    cursor: pointer;
    background: rgba(17, 25, 40, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.none{
    display: none;
}
 
 
table{
    width: 90%;
    margin-bottom: 5rem;
    background: rgba(17, 25, 40, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}




 
.contenedor_tabla{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}
 
tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none
}
th{
    width: 100%;
    padding: 20px;
    font-size: 23px;
    text-transform: uppercase;

}
td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    opacity: none;
        
}
 
.buttonEliminar{
  background-image: url('data:image/svg+xml,<svg fill="rgba(195, 12, 9,.8)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>');
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.2);
  background-position: center;
  background-color: transparent;
    color:transparent;
    border: none;
   cursor: pointer;
    padding: 10px;    
}

 
.buttonEditar{
    background-image: url('data:image/svg+xml,<svg fill="rgba(54, 160, 255,.7)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
      color:transparent;
      border: none;
     cursor: pointer;
      padding: 10px;
}
.formulario_agregar{
    padding: 10px;
}
.formulario_agregar input{
    padding: 20px;
}